<header>
    <div class="headerContainer"> 
  
  
      <div class="headerContent"> 
        <span>
          <img src="../assets/ang.svg" alt="man">
          
        </span>
          <a href="">Home</a>
          <a routerLink = "/about" target="_blank">About</a>
          <a href="">Contact</a>
  
          <span>
            <button id = "button-email"> Send Email </button>
          </span>
      </div>
  
    </div>
  </header>
  
  <div class="contentContainer">
    <section class="sectionContainer">
  
      <h1>Hello, this is my first project in Angular 👋</h1>
  
    </section>
  
    <img src="../assets/man-pc.svg" alt="man-pc">
  
  </div>