<header>
  <div class="headerContent"> 
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Social</li>
        <li>Contact</li>
      </ul>
    </nav> 

  </div>
</header>

<div class="contentContainer">
  <section class="sectionContainer">

    <h1>Hello, this is my first project in Angular 👋</h1>

    <h2>Learn more about <span>Marcelo Santana</span>.</h2>

    <p>For more information, access the menu above 👻</p>

  </section>

  <img src="../assets/man-pc.svg" alt="man-pc">

</div>





