.headerContainer{
    height: 5rem;
    background: var(--purple);
    border-bottom: 3px solid var(--black-omni);
    color: var(--white-ice);

    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        position: relative;
        right: 22rem;

        img{
            width: 3rem;
            height: 3rem;
        }   
    }

    #button-email{
        position: relative;
        left: 52rem;
    }

    button{
        width: 10rem;
        height: 2rem;
        border-radius: 8px;
        border: 0;

        font-family: rajdhani;
        font-weight: bold;
        transition: 0.2ms;

        background: var(--yellow-omni);
        color: var(--black-omni);



        &:hover{
            filter: brightness(0.8);
        }
    }
}

.headerContent{
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-right: 10rem;
    justify-content: space-between;

    a:hover{
        color: var(--black-omni);
    }

}

.contentContainer{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
    height: calc(100vh - 5rem);

    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 35rem;
        height: 35rem;
        position: relative;
        left: 10rem;
    }
}

.sectionContainer{
    max-width: 600px;
    font-family: rajdhani;

    h1{
        font-size: 3rem;
        font-weight: 100;
        margin-bottom: 2rem;
    }

    h2{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    span{
        color: var(--purple);
        
    }

    p{
        font-size: 1.3rem;
    }
}