<header>
  <div class="headerContainer"> 


    <div class="headerContent"> 
      <span>
        <img src="../assets/ang.svg" alt="man">
        
      </span>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact</a>

        <span>
          <button id = "button-email"> Send Email </button>
        </span>
    </div>

  </div>
</header>

<div class="contentContainer">
  <section class="sectionContainer">

    <h1>Olá, esse é meu primeiro projeto Angular 👋</h1>

    <h2>Conheça mais sobre <span>Marcelo Santana</span>.</h2>

    <p>Para mais informações, clique nas opções do menu 👻</p>

  </section>

  <img src="../assets/man-pc.svg" alt="man-pc">

</div>